@using Microsoft.JSInterop
@using TimeTracker.FE.Web.Components.Interops

<div id="@ContainerId" style="width: 300px; height: 300px;"></div>

@code {
    [Parameter]
    public string Path { get; set; } = string.Empty;
    [Parameter]
    public string ContainerId { get; set; } = "lottie-container";
    [Inject]
    private LottieLoaderInterop? _lottieInterop { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender && !string.IsNullOrEmpty(Path))
            await _lottieInterop.Load(ContainerId, Path);
    }

    public async ValueTask DisposeAsync()
    {
        if (_lottieInterop is not null)
            await _lottieInterop.DisposeAsync();
    }
}
