table {
    width: 100%; // Zajistí roztáhnutí tabulky přes celou šířku rodiče
    border-collapse: collapse;

    thead {
        background-color: #343a40;
        color: #ffffff;

        th {
            padding: 10px;
            text-align: left;
        }
    }

    tbody {
        td {
            padding: 10px;
            border-bottom: 1px solid #dee2e6;
            text-align: left;
        }

        tr {
            &:hover {
                background-color: #e9ecef;
            }
        }
    }
}

.selected-row {
    background-color: mediumpurple; // Světle modrá barva pro vybraný řádek
}

img {
    max-width: 100%; // Obrázek se přizpůsobí sloupci
    max-height: 50px; // Maximální výška obrázku
    display: block;
}

td, th {
    text-align: center;
    /
