// Barvy pro toast typy
$toast-success: #28a745;
$toast-failure: #dc3545;
$toast-alert: #ffc107;
$toast-alert-text: #212529;
$toast-warning: #ff8800;
$toast-default: #17a2b8;

.toast-message {
    width: 300px;
    background-color: white;
    animation: slide-in 0.5s ease-out, slide-out 0.5s ease-in 125s forwards;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    transition: all 0.5s ease-in;
    overflow: hidden;

    .toast-header {
        background-color: $toast-default;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;

        &.toast-message-success {
            background-color: $toast-success;
        }

        &.toast-message-failure {
            background-color: $toast-failure;
        }

        &.toast-message-alert {
            background-color: $toast-alert;
        }

        &.toast-message-warning {
            background-color: $toast-warning;
        }

        .toast-close-button {
            background: none;
            border: none;
            color: white;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;

            &:hover {
                color: #000;
            }
        }
    }

    .toast-message-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 5px;
        font-weight: bold;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;

        .toast-message-text {
            padding-top: 10px;
        }
    }
}
    
// Animace
@keyframes slide-in {
    from {
        transform: translateX(10%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}
