@page "/activity"
@using TimeTracker.Web.Blazor.Server.Helpers
@using TimeTracker.Web.Blazor.Server.Components.Elements
@using TimerTracker.BE.Web.BusinessLogic.Models.DTOs

@* @inject IHttpClientFactory HttpClientFactory *@
@inherits BasePage

<style>
    div .main {
        display: flex;
        flex-direction: column;
        margin: 10px;
        width: 300px;
    }

    div .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
</style>

<h3>Activity</h3>
<div class="main">
    <div class="row">
        <div class="col-6">
            <h6>Type shift</h6>
            <MCombobox Items="typeShifts" ItemText="item => item.Name" @bind-SelectedItem="@select1" />
        </div>
        <div class="col-6">
            <h6>Shifts</h6>
            <MCombobox Items="_shifts" ItemText="item => item.StartDate.ToLongDateString()" />
        </div>
    </div>
    <div class="row">
        <h6>Project</h6>
        <MCombobox Items="_projects" ItemText="item => item.Name" />
    </div>
    <div class="row">
        <h6>Sub module</h6>
        <MCombobox Items="_subModules" ItemText="item => item.Name" />
    </div>
    <div class="row">
        <h6>Description</h6>
        <MTextArea Value="@descriptionText" />

    </div>
    <button>Set</button>
</div>

@code {
    private string descriptionText;

    private Task OnValueChanged(string newValue)
    {
        descriptionText = newValue;
        StateHasChanged();  // Aktualizuje komponentu
        return Task.CompletedTask;
    }

    private TypeShiftBaseDto? select1 { get; set; }

    private List<TypeShiftBaseDto>? typeShifts;
    private List<ShiftBaseDto> _shifts;
    private List<ProjectBaseDto> _projects;
    private List<SubModuleBaseDto> _subModules;



    protected async override Task OnInitializedAsync()
    {
        try
        {
            // var client = HttpClientFactory.CreateClient("TimeTrackerAPI");
            var typeShiftsReq = await _httpClient.GetFromJsonAsync<List<TypeShiftBaseDto>>("/api/v1/shifts/types");
            if (typeShiftsReq != null)
                typeShifts = typeShiftsReq;

            var shiftsReq = await _httpClient.GetFromJsonAsync<List<ShiftBaseDto>>("/api/v1/shifts");
            if (shiftsReq != null)
                _shifts = shiftsReq;

            var projectsReq = await _httpClient.GetFromJsonAsync<List<ProjectBaseDto>>("/api/v1/projects");
            if (projectsReq != null)
                _projects = projectsReq;

            var subModulesReq = await _httpClient.GetFromJsonAsync<List<SubModuleBaseDto>>("/api/v1/projects/submodules");
            if (subModulesReq != null)
                _subModules = subModulesReq;
        }
        catch (Exception ex)
        {

        }
    }
}
