@page "/current-activity"
@using AutoMapper
@using TimeTracker.BE.Web.BusinessLogic.Models.DTOs
@using TimeTracker.Web.Blazor.Server.Helpers
@using TimeTracker.Web.Blazor.Server.Modals
@using TimeTracker.Web.Blazor.Server.Models
@using TimeTracker.Web.Blazor.Server.Components.Pages.Components.CurrentActivityPage
@using System.Net
@using FE.Web.Components.Models

@inherits BasePage
@inject IMapper _mapper

<div class="v-gap">

    <div>
        <MButton Text="Change" OnClick="onOpenAddActvityModal" Style="width:150px"></MButton>
        <MButton Text="Pause" Style="width:150px" IsDisabled=_isDisableButtonPause OnClick="onChangeActivityOnPause"></MButton>
        <MButton Text="End of shift" Style="width:150px" IsDisabled=_isDisableButtonStop OnClick="onChangeActivityOnEndShift"></MButton>
    </div>

    @if (_lastRecordActivity == null)
    {
        @if (_responsevLastRecordActivityStatusCode == HttpStatusCode.NotFound)
        {
            <label>V databázi není vložena žádná aktivita. Prvně je potřeba aktivitu zadat->"Change"</label>
        }
        else
        {
            <MLoader />
        }
    }
    else
    {
        <InfoBoard LastRecordActivity="_lastRecordActivity" TotalTime="_totalTime" />
    }

</div>

<AddActivityModal Title="Change activity"
                  @bind-Visible="_isOpenAddActivityModal"
                  @key="_isOpenAddActivityModal"
                  OnModalClosed="onAfterCloseModalAddActivity_Changed" />