@page "/event-logs"
@using TimeTracker.Web.Blazor.Server.Components.Elements

<h3>EventLogs</h3>
<MTabs>
    <MTabItem Title="První záložka">
        <h3>První záložka</h3>
        <p>Toto je obsah první záložky.</p>
    </MTabItem>
    <MTabItem Title="Druhá záložka">
        <h3>Druhá záložka</h3>
        <p>Toto je obsah druhé záložky.</p>
    </MTabItem>
    <MTabItem Title="Třetí záložka">
        <h3>Třetí záložka</h3>
        <p>Toto je obsah Třetí záložky.</p>
    </MTabItem>
</MTabs>

@code {

}
