@page "/"

<PageTitle>Home</PageTitle>

<div class="center-container">
    @* <img class="menu-logoImg" src='/Resources/logo_cbdata_cmyk_invert.svg' /> *@
    <LogoComponentRepeater Heigh="128" Width="128" />

</div>
