@page "/settings"

@using TimeTracker.Web.Blazor.Server.Components.Elements
@using TimeTracker.Web.Blazor.Server.Modals
@using TimeTracker.Web.Blazor.Server.Models
@using TimerTracker.BE.Web.BusinessLogic.Models.DTOs

@inherits BasePage

<style>
    .container {
        display: flex;
        justify-content: space-between;
    }

    .column {
        width: 48%; /* Nastaví šířku sloupců na 48%, aby zůstalo trochu místa mezi nimi */
    }
</style>

<h3>Settings</h3>

<div class="container">
    <div id="project" class="column">
        <h4>Projects</h4>
        <div id="menuButtonsProject">
            <MButton OnClick="showModalAddProject">Add</MButton>
            <MButton OnClick="showModalEditProject">Edit</MButton>
            <MButton OnClick="showModalDeleteProject">Delete</MButton>
        </div>
        <div>
            <MTable TRow="ProjectBaseDto" Rows="_projects" Columns="_projectColumns" OnRowSelected="onProjectRowSelected" @bind-Selected="_selectedProject" />
        </div>
    </div>
    <div id="submodule" class="column">
        <h4>SubModules</h4>
        <div id="submoduleButtonsProject">
            <MButton OnClick="showModalAddSubmodule">Add</MButton>
            <MButton OnClick="showModalEditSubmodule">Edit</MButton>
            <MButton OnClick="showModalDeleteSubmodule">Delete</MButton>
        </div>
        <div>
            <MTable TRow="SubModuleBaseDto" Rows="_subModules" Columns="_subModuleColumns" OnRowSelected="onSubModuleRowSelected" />
        </div>
    </div>
</div>

<AddOrEditProjectModal Title="Add project"
                       @bind-Visible="IsOpenAddOrEdtiProjectModal"
                       Project="_selectedProject"
                       OnModalClosed="onCloseModalAddPrjectChanged" />

<AddOrEditSubModuletModal Title="Add submodule"
                          SubModule="_selectedSubModule"
                          @bind-Visible="IsOpenAddOrEditSubModuleModal" />

<QueryYesNoModal Title="Query"
                 QueryText="Chcete smazat projekt?"
                 ResultQueryChanged="handleDeleteConfirmationResult"
                 @bind-Visible="IsOpenProductDeleteQueryModal" />


