@typeparam TItem

<div class="custom-combobox">
    <input type="text" class="form-control" @bind="SearchText" @onfocus="OnFocus" @onblur="OnBlur" @oninput="OnInput" placeholder="Vyberte možnost..." />

    @if (IsDropdownVisible && FilteredItems.Any())
    {
        <ul class="dropdown-list">
            @foreach (var item in FilteredItems)
            {
                <li @onclick="(() => SelectItem(item))" class="dropdown-item">
                    @ItemText(item)
                </li>
            }
        </ul>
    }
</div>

@code {
    private bool IsDropdownVisible { get; set; } = false;
    private string SearchText { get; set; } = string.Empty;
    private List<TItem> FilteredItems { get; set; } = new List<TItem>();

    [Parameter] public List<TItem> Items { get; set; } = new List<TItem>();
    [Parameter] public Func<TItem, string> ItemText { get; set; }
    [Parameter] public EventCallback<TItem> OnSelected { get; set; }
    [Parameter] public EventCallback<string> OnSearchTextChanged { get; set; }

    protected override void OnInitialized()
    {
        // Přednastavení záznamů pro filtrování, pokud je to nutné
        FilteredItems = Items;
    }

    private void OnInput(ChangeEventArgs e)
    {
        SearchText = e.Value.ToString();
        FilterItems();
        OnSearchTextChanged.InvokeAsync(SearchText);
    }

    private void OnFocus()
    {
        IsDropdownVisible = true;
    }

    private void OnBlur()
    {
        // Po ztrátě zaměření skrytí dropdownu s malým zpožděním pro umožnění výběru
        Task.Delay(150).ContinueWith(t => IsDropdownVisible = false);
    }

    private void FilterItems()
    {
        if (string.IsNullOrWhiteSpace(SearchText))
        {
            FilteredItems = Items;
        }
        else
        {
            FilteredItems = Items.Where(item => ItemText(item).ToLower().Contains(SearchText.ToLower())).ToList();
        }
    }

    private void SelectItem(TItem item)
    {
        OnSelected.InvokeAsync(item);
        SearchText = ItemText(item); // Nastavit text vybraného prvku
        IsDropdownVisible = false;
    }
}
