@using TimeTracker.FE.Web.Components.Models
@page "/reports/plan-vs-reality-work-hours"

<h3>Plan vs reality work hours </h3>

<div style="max-height:400px;max-width:400px;">

    <MChart Id="pie1" Type="@eChartType.Bar"
            Data="@(new[] { "1", "2" })"
            BackgroundColor="@(new[] { "blue","green" })"
            Labels="@(new[] { "Fail","Ok" })">
    </MChart>
</div>

@code {

}