@page "/reports/record-list"
@using AutoMapper
@using TimeTracker.BE.Web.BusinessLogic.Models.DTOs
@using TimeTracker.FE.Web.Components.Models
@using TimeTracker.Web.Blazor.Server.Helpers
@using TimeTracker.Web.Blazor.Server.Modals
@using TimeTracker.Web.Blazor.Server.Models

@inherits BasePage
@inject IMapper _mapper;

<h3>Report-Record list</h3>

@if (_monthAndYears != null)
{
    <div>
        <MCombobox Items="_monthAndYears" @bind-SelectedItem="SelectMonthAndYear" ItemText="formatMonthAndYear" />
        <MButton Text="Add" OnClick="onOpenAddActvityModal"></MButton>
        <MButton Text="Delete" OnClick="onOpenQueryDeleteActvityModal" IsDisabled="@(_selectedRecordActivity==null)"></MButton>
    </div>
    if (_recordActivity == null)
    {
        <MLoader />
    }
    else
    {
        <MTable TRow="RecordListViewModel" Rows="_recordActivity" Columns="_recordActivityColumns" OnRowSelected="onRecordActivityRowSelected" @bind-Selected="_selectedRecordActivity"></MTable>

        <AddActivityModal Title="Change activity"
                          @bind-Visible="_isOpenAddActivityModal"
                          OnModalClosed="onAfterCloseModalAddActivity_Changed" />

        <QueryYesNoModal Title="Query"
                         QueryText="Chcete smazat záznam?"
                         ResultQueryChanged="onAfterCloseDeleteQueryResult"
                         @bind-Visible="_isOpenDeleteQueryModal" />
    }
}


@code {
    private bool _isOpenDeleteQueryModal = false;
    private List<TableColumnDefinition<RecordListViewModel>>? _recordActivityColumns;
    private List<RecordListViewModel>? _recordActivity;
    private RecordListViewModel? _selectedRecordActivity;

    private bool _isOpenAddActivityModal = false;
    private void onOpenAddActvityModal() => _isOpenAddActivityModal = true;
    private void onOpenQueryDeleteActvityModal() => _isOpenDeleteQueryModal = true;

    private List<DateTime>? _monthAndYears;
    private DateTime _selectMonthAndYear;
    public DateTime SelectMonthAndYear
    {
        get => _selectMonthAndYear;
        set
        {
            if (value != null && _selectMonthAndYear != value)
            {
                _selectMonthAndYear = value;
                loadData();
            }
        }
    }

    private string formatMonthAndYear(DateTime item)=> item.ToString("MM.yyyy");

    private void onAfterCloseModalAddActivity_Changed()
    {
        loadData();
    }

    private async Task onAfterCloseDeleteQueryResult(bool confirmed)
    {
        try
        {
            if (confirmed && _selectedRecordActivity != null && _httpClient != null)
            {
                var urlApi = $"/api/v1/record-activities/{_selectedRecordActivity.GuidId}";
                var result = await _httpClient.DeleteAsync(urlApi);
                if (result.IsSuccessStatusCode)
                {
                    _selectedRecordActivity = null;
                    loadData();
                }
            }
        }
        catch (Exception ex)
        {
            _eventLogService.LogError(Guid.Parse("18f5f853-7b0d-4525-868f-323b2e74de47"), ex);
        }
    }


    protected override void OnInitialized()
    {
        try
        {
            base.OnInitialized();
            _monthAndYears = GeneratorDatesHelper.GetMontData().ToList();
            SelectMonthAndYear = _monthAndYears.FirstOrDefault();
            _recordActivityColumns = createColumnDefinitions();
            loadData();
        }
        catch (Exception ex)
        {
            _eventLogService.LogError(Guid.Parse("3079445b-6d96-431f-82b5-eb0b7e271cf3"), ex);
        }
    }

    private async void loadData()
    {
        try
        {
            _recordActivity = null;
            var dateStart = SelectMonthAndYear;
            var dateEnd = SelectMonthAndYear.AddMonths(1);

            var formattedDateStart = dateStart.ToString("yyyy-MM-dd");
            var formattedDateEnd = dateEnd.ToString("yyyy-MM-dd");


            var urlApi = $"/api/v1/reports/record-activiries/{formattedDateStart}/{formattedDateEnd}";
            var recordActivityDto = await _httpClient.GetFromJsonAsync<List<RecordActivityDetailDto>>(urlApi);
            _recordActivity = _mapper.Map<List<RecordListViewModel>>(recordActivityDto);

            this.StateHasChanged();
        }
        catch (Exception ex)
        {
            _eventLogService.LogError(Guid.Parse("01bbb693-50bd-4395-9bd5-ff466560a1d2"), ex);
        }
    }


    private List<TableColumnDefinition<RecordListViewModel>> createColumnDefinitions()
    {
        return new List<TableColumnDefinition<RecordListViewModel>>
                {
                    new TableColumnDefinition<RecordListViewModel>
                    {
                        Header = "Start",
                        Key = nameof(RecordListViewModel.StartDateTime),
                    },
                    new TableColumnDefinition<RecordListViewModel>
                    {
                        Header = "End",
                        Key = nameof(RecordListViewModel.EndDateTime),
                    },
                    new TableColumnDefinition<RecordListViewModel>
                    {
                        Header = "Activity",
                        Key = nameof(RecordListViewModel.ActivityName),
                    },
                    new TableColumnDefinition<RecordListViewModel>
                    {
                        Header = "Project",
                        Key = nameof(RecordListViewModel.ProjectName),
                    },
                          new TableColumnDefinition<RecordListViewModel>
                    {
                        Header = "Submodule",
                        Key = nameof(RecordListViewModel.SubModuleName),
                    },
                    new TableColumnDefinition<RecordListViewModel>
                    {
                        Header = "Type shift",
                        Key = nameof(RecordListViewModel.TypeShiftName),
                    },
                      new TableColumnDefinition<RecordListViewModel>
                    {
                        Header = "Shift",
                        Key = nameof(RecordListViewModel.TypeShiftName),
                    },
                     new TableColumnDefinition<RecordListViewModel>
                    {
                        Header = "Description",
                        Key = nameof(RecordListViewModel.Description),
                    },
                };
    }

    private void onRecordActivityRowSelected(RecordListViewModel selectedRow)
    {
        // if (!selectedRow.Equals(_selectedProject))
        // {
        // 	_selectedProject = selectedRow;

        // 	base.StateHasChanged();
        // }
    }
}
