@using TimeTracker.BE.Web.Shared.Models
@using TimeTracker.Web.Blazor.Server.Components.Pages.Components

@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <LogoComponentRepeater Heigh="44" Width="44" ColorHex="#ffffff"></LogoComponentRepeater>
        <a class="navbar-brand" href="">TimeTracker</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <label class="version">Main</label>
        <div class="nav-group">
            <div class="nav-item px-3">
                <button class="btn-style" @onclick="onOpenCurrentActivityPage_Click">
                    <span class="oi oi-plus" aria-hidden="true"></span> Current activity
                </button>
            </div>
            <div class="nav-item px-3">
                <button class="btn-style" @onclick="onOpenShifts_Click">
                    <span class="oi oi-plus" aria-hidden="true"></span> Shifts plan
                </button>
            </div>
        </div>
        <label class="version">Reporting</label>
        <div class="nav-group">
            <div class="nav-item px-3">
                <button class="btn-style" @onclick="onOpenReportRecordList_Click">
                    <span class="oi oi-plus" aria-hidden="true"></span> Record list
                </button>
            </div>
            <div class="nav-item px-3">
                <button class="btn-style" @onclick="onOpenReportActivitiesOverDays_Click">
                    <span class="oi oi-plus" aria-hidden="true"></span> Activities
                </button>
            </div>
            <div class="nav-item px-3">
                <button class="btn-style" @onclick="onOpenReportPlanVsRealityWorkHours_Click">
                    <span class="oi oi-plus" aria-hidden="true"></span> Plan vs realita
                </button>
            </div>
        </div>

        <label class="version">Others</label>
        <div class="nav-group">
            <div class="nav-item px-3">
                <button class="btn-style" @onclick="onOpenSettings_Click">
                    <span class="oi oi-plus" aria-hidden="true"></span> Settings
                </button>
            </div>
            <div class="nav-item px-3">
                <button class="btn-style" @onclick="onOpenDocumentPage_Click" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Documents(Swagger)
                </button>
            </div>
        </div>
        <hr class="nav-divider" />
        <div class="horizontal-center">
                <label class="version">@(_buildInfo.VersionStr + "|" + _buildInfo.BranchName)</label>
        </div>
    </nav>
</div>
